:root {
  --primary-color: #050934;
  --secondary-color: #1ebe59;
  --tertiary-color: #002ee5;
}

/* Srollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/**************************************************** Font family ****************************************************/
@font-face {
  font-family: Avenir-bold;
  src: url("../assets/fonts/AvenirNextLTPro-Bold.otf");
  font-display: swap;
}
@font-face {
  font-family: Avenir-demi;
  src: url("../assets/fonts/AvenirNextLTPro-Demi.otf");
  font-display: swap;
}
@font-face {
  font-family: Avenir-medium;
  src: url("../assets/fonts/AvenirNextLTPro-Medium.otf");
  font-display: swap;
}
@font-face {
  font-family: Avenir-regular;
  src: url("../assets/fonts/AvenirNextLTPro-Regular.otf");
  font-display: swap;
}

body {
  font-family: Avenir-regular !important;
  overflow-x: hidden !important;
  top: 0 !important;
}

body > .skiptranslate {
  display: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Avenir-bold;
}

/**************************************************** Background Colors ****************************************************/
.bg-primaryColor {
  background: var(--primary-color);
}
.bg-secondaryColor {
  background: var(--secondary-color);
}
.bg-tertiaryColor {
  background: var(--tertiary-color);
}
.bg-light {
  background: #f0f0f4;
}
.text-primaryColor {
  color: var(--primary-color);
}
.text-secondaryColor {
  color: var(--secondary-color);
}
.text-tertiaryColor {
  color: var(--tertiary-color);
}
.text-light {
  color: #f7f8fe;
}

/**************************************************** Font weight ****************************************************/
.font-bold {
  margin: 0;
  font-family: Avenir-bold;
}
.font-demi {
  margin: 0;
  font-family: Avenir-demi;
}
.font-medium {
  margin: 0;
  font-family: Avenir-medium;
}
.font-regular {
  margin: 0;
  font-family: Avenir-regular;
}

/***************************************************** Utility Classes *****************************************************/
.flex-container {
  display: flex;
}
@media (max-width: 768px) {
  .flex-container {
    display: flex;
    flex-direction: column;
  }
}

.font-14 {
  font-size: 14px;
}
.font-22 {
  font-size: 22px;
}
.font-30 {
  font-size: 30px;
}
.font-20 {
  font-size: 20px;
}
.font-18 {
  font-size: 18px;
}
.text-justify {
  text-align: justify;
}
.py-section {
  padding-top: 100px;
  padding-bottom: 100px;
}
@media (max-width: 768px) {
  .py-section {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}

/**************************************************** Button ****************************************************/
.custom-button {
  border: none;
  min-width: 150px;
  min-height: 55px;
  transition: background 0.5s ease-in-out;
  color: #ffffff;
}
.custom-button:hover {
  background: transparent;
  border: 2px solid var(--tertiary-color);
  color: var(--tertiary-color);
}
.custom-button-outline {
  border: 2px solid var(--tertiary-color);
  min-width: 150px;
  min-height: 55px;
  transition: all 0.5s ease-in;
  background: transparent;
}
.custom-button-outline:hover {
  background: var(--tertiary-color);
  color: #ffffff;
}
.mr-2 {
  margin-right: 2rem;
}

.custom-cardbutton {
  border: none;
  min-width: 150px;
  height: 45px;
  transition: background 0.5s ease-in-out;
  color: #ffffff;
}
.custom-cardbutton:hover {
  background: transparent;
  border: 2px solid var(--secondary-color);
  color: var(--secondary-color);
}
.custom-cardbutton-outline {
  border: 2px solid var(--secondary-color);
  min-width: 150px;
  height: 45px;
  transition: all 0.5s ease-in;
  background: transparent;
}
.custom-cardbutton-outline:hover {
  background: var(--secondary-color);
  color: #ffffff;
}

.custom-cardbuttonRed {
  border: none;
  min-width: 150px;
  height: 45px;
  background: red;
  transition: background 0.5s ease-in-out;
  color: #ffffff;
}
.custom-cardbuttonRed:hover {
  background: #fff;
  border: 2px solid red;
  color: red;
}
.custom-cardbuttonRed-outline {
  border: 2px solid red;
  min-width: 150px;
  height: 45px;
  transition: all 0.5s ease-in;
  background: transparent;
}
.custom-cardbuttonRed-outline:hover {
  background: red;
  color: #ffffff;
}
/**************************************************** Box ****************************************************/
.box {
  background: #ffffff;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 4px -4px 20px 10px rgb(32 32 72 / 10%);
  transition: all 0.5s ease-in-out;
}
.box:hover {
  box-shadow: 8px -8px 40px 20px rgb(32 32 72 / 10%);
}
.img-container {
  position: relative;
  overflow: hidden;
}
.card-img-top {
  transition: all 0.5s linear;
}
.card-img-top:hover {
  transform: scale(1.2);
}
.card-hover:hover {
  transform: scale3d(2) !important;
}
.custom-blue-bg {
  background: url("../assets/images/bg.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/**************************************************** footer ****************************************************/
.footer-bg {
  background: url("../assets/images/footer.svg") var(--primary-color);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.fields-required::after {
  content: " *";
  color: red;
}
a {
  text-decoration: none !important;
}
li {
  list-style-image: url("../assets/images/list.svg");
  padding-left: 20px;
}
.home {
  background: url("../assets/images/home.gif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.card-content {
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 1rem;
  top: 0;
  opacity: 0;
  background: var(--secondary-color);
  transition: all 0.5s ease-in-out;
}
.card:hover .card-content {
  opacity: 1;
}
.card-content-inactive {
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 1rem;
  top: 0;
  opacity: 0;
  background: rgba(0, 0, 0, 0.521);
  transition: all 0.5s ease-in-out;
}
.card:hover .card-content-inactive {
  opacity: 1;
}

.bg-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.6)),
    url("../assets/images/home.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 50vh;
}
.home-text {
  margin: auto;
  width: 75%;
  vertical-align: middle;
}
.features {
  margin-top: -8%;
  box-shadow: 9px 10px 9px #01010317;
}
@media (max-width: 769px) {
  .features {
    margin-top: -23%;
    box-shadow: 9px 10px 9px #01010317;
  }
}
.home-box-shadow {
  box-shadow: 2px 4px 9px #01010317;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/****************************************** Sidebar ******************************************/
.sidebar {
  display: none;
  position: fixed;
  top: 0px;
  right: 0px;
  width: 45vw;
  height: auto;
  z-index: 1;
  background-color: #131c20;
  color: #7a8589;
  border: 2px solid #405c6b;
  animation: all 1s ease;
  display: block;
}

@media (max-width: 900px) {
  .sidebar {
    min-width: 50vw;
  }
}
@media (max-width: 500px) {
  .sidebar {
    min-width: 100vw;
  }
}

.sidebar-item:hover {
  background-color: #3dbef5;
  color: #fff;
}
.sidebar-item-active {
  background-color: #3dbef5;
  color: #fff;
}

select {
  border: none;
  background: white;
  color: var(--primary-color);
  font-family: Avenir-demi !important;
  outline: none;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

.goog-logo-link {
  display: none;
}
.goog-te-gadget {
  color: transparent !important;
  margin-bottom: -10px;
  font-size: 10px !important;
}

.navbar-toggler {
  padding: 0 !important;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: none !important;
}
.navbar-toggler:focus,
.navbar-toggler:active {
  outline: none;
}

button.close {
  color: #fff;
  border: none;
  background: transparent;
  font-size: 2rem;
  padding: 0;
  font-weight: bolder;
  margin: 0;
}

button:focus,
button:active {
  outline: none;
}
.form-margin {
  margin-top: -10%;
}
.modal-header {
  background: var(--primary-color);
}

.certificate-border {
  border: 6px double var(--primary-color);
  /* background: url("../assets/images/certificate.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 500px; */
  pointer-events: none;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}
.card-content-height {
  min-height: 147px;
}
