:root{
  --primary-color: #050934;
  --secondary-color: #3feb83;
  --tertiary-color: #002ee5;
}

/* Font family */
@font-face {
  font-family: Avenir-bold;
  src: url("../assets/fonts/AvenirNextLTPro-Bold.otf");
  font-display: swap;
}
@font-face {
  font-family: Avenir-demi;
  src: url("../assets/fonts/AvenirNextLTPro-Demi.otf");
  font-display: swap;
}
@font-face {
  font-family: Avenir-medium;
  src: url("../assets/fonts/AvenirNextLTPro-Medium.otf");
  font-display: swap;
}
@font-face {
  font-family: Avenir-regular;
  src: url("../assets/fonts/AvenirNextLTPro-Regular.otf");
  font-display: swap;
}

body{
  font-family: Avenir-regular !important;
}

.bg-primaryColor{
  background: var(--primary-color);
}
.bg-secondaryColor{
 background: var(--secondary-color);
}
.bg-tertiaryColor{
 background: var(--tertiary-color);
}

.flex-container{
  display: flex;
}
@media(max-width: 768px){
  .flex-container{
    display: flex;
    flex-direction: column;
  }
}

/* footer */
.footer-bg{
  background: url('../assets/images/footer.svg') var(--primary-color);
}
.font-22{
  font-size: 22px;
}
.font-20{
  font-size: 20px;
}
.font-18{
  font-size: 18px;
}

/* Font weight */
.font-bold {
  margin: 0;
  font-family: Avenir-bold;
}
.font-demi {
  margin: 0;
  font-family: Avenir-demi;
}
.font-medium {
  margin: 0;
  font-family: Avenir-medium;
}
.font-regular {
  margin: 0;
  font-family: Avenir-regular;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Avenir-bold;
}
